@import "tailwindcss";

:root {
  --background: #09090B;
  --surface: #18181B;
  --surface-light: #27272A;

  --primary: #4F46E5;
  --secondary: #06B6D4;
  --accent: #A855F7;

  --success: #22C55E;
  --warning: #F59E0B;
  --danger: #EF4444;

  --text: #FAFAFA;
  --text-muted: #A1A1AA;

  --border: #3F3F46;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: var(--background);
  color: var(--text);
  min-height: 100vh;
  font-family: Inter, sans-serif;
}
body {
  font-family: var(--font-inter);
  overflow-x: hidden;
}

.font-title {
  font-family: var(--font-orbitron);
}

html {
  scroll-behavior: smooth;
}